# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
ENV/
Lib/
Scripts/
pyvenv.cfg

# Ignore editor/IDE settings
.vscode/
.idea/

# Ignore migration files if needed
**/migrations/*.pyc
**/migrations/__pycache__/
